<div class="modal-header">
  <h4 class="modal-title">Select notification time for {{ username }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body d-flex justify-content-center">
  <ngb-timepicker [formControl]="timeControl"></ngb-timepicker>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    (click)="changeNotificationTime()"
  >
    Confirm
  </button>

  <button type="button" class="btn btn-danger" (click)="activeModal.close()">
    Go back
  </button>
</div>
